<div
  class="fixed top-0 left-0 right-0 bottom-0 w-screen pointer-events-none flex flex-col items-center justify-center"
>
  <div
    class="flex justify-end items-end xl:items-center h-full w-full max-w-[1920px] p-6"
  >
    <div
      id="controls"
      class="flex flex-col gap-4 items-center justify-end pointer-events-auto"
    >
      <slot />
    </div>
  </div>
</div>

<script>
  const scroll = document.querySelectorAll("button.scroll");
  const scrollHome = document.querySelector("button.scroll-home");
  let scrollPosition = 0;

  scrollHome!.addEventListener("click", () => {
    scrollPosition = 0;

    window.scrollTo({
      top: scrollPosition,
      behavior: "smooth",
    });
  });

  window.addEventListener("scroll", () => {
    scrollPosition = window.scrollY;

    if (scrollPosition > 0) {
      scrollHome!.removeAttribute("disabled");
    } else {
      scrollHome!.setAttribute("disabled", "true");
    }
  });

  scroll!.forEach((s) =>
    s.addEventListener("click", () => {
      const windowHeight = window.innerHeight;
      const documentHeight = document.documentElement.scrollHeight;

      if (s.getAttribute("data-direction")! == "up") {
        scrollPosition = Math.max(scrollPosition - windowHeight, 0);
      } else {
        scrollPosition = Math.min(
          scrollPosition + windowHeight,
          documentHeight - windowHeight
        );
      }

      window.scrollTo({
        top: scrollPosition,
        behavior: "smooth",
      });
    })
  );
</script>
