<div class="flex flex-col gap-2 items-start md:items-center justify-center">
  <!-- <p class="text-sm text-foreground">Estou ocupado com</p> -->
  <div class="flex flex-row gap-2 items-center justify-start">
    <!-- Estagio NexAtlas -->
    <a
      class="font-mono px-1 py-[2px] rounded-md text-xs font-medium flex flex-row items-center justify-center gap-1 dark:bg-emerald-950 dark:text-emerald-400 bg-emerald-100 text-emerald-800"
      href="https://nexatlas.com"
      target="_blank"
    >
      <span
        class="w-2 h-2 block rounded-full dark:bg-emerald-400 bg-emerald-600"
      ></span>
      NexAtlas
    </a>
    <!-- Trainee byron.solutions -->
    <a
      class="font-mono px-1 py-[2px] rounded-md text-xs font-medium flex flex-row items-center justify-center gap-1 dark:bg-sky-950 dark:text-sky-400 bg-sky-100 text-sky-800"
      href="https://byron.solutions"
      target="_blank"
    >
      <span class="w-2 h-2 block rounded-full dark:bg-sky-400 bg-sky-600"
      ></span>
      byron.solutions
    </a>
    <!-- Freelance -->
    <div
      class="font-mono px-1 py-[2px] rounded-md text-xs font-medium flex flex-row items-center justify-center gap-1 dark:bg-neutral-800 dark:text-neutral-400 bg-neutral-100 text-neutral-800 hover:cursor-not-allowed"
    >
      <span
        class="w-2 h-2 block rounded-full dark:bg-neutral-400 bg-neutral-600"
      ></span>
      Freelance/PJ (indisponível)
    </div>
  </div>
</div>
