---
import { Button } from "@/components/ui/button";
import { GitHubLogoIcon } from "@radix-ui/react-icons";
import CurrentlyWorkingOn from "./CurrentlyWorkingOn.astro";
---

<section
  class="h-[940px] flex flex-col items-start md:items-center justify-center gap-8 p-6 relative"
>
  <div
    class="flex flex-col items-start md:items-center justify-center gap-4 md:gap-2"
  >
    <CurrentlyWorkingOn />
    <h1
      class="font-display text-[48px] md:text-[56px] leading-tight md:leading-relaxed text-left md:text-center font-semibold text-foreground"
    >
      Desenvolvedor & Designer de UX
    </h1>
    <p class="text-left md:text-center max-w-[840px] leading-relaxed">
      Me chamo Joel Vítor <a href="https://github.com/joevtap" target="_blank"
        ><span
          class="bg-secondary px-1 py-[2px] rounded-md text-secondary-foreground font-mono text-xs font-medium"
          >"@joevtap"</span
        ></a
      > e este é meu site pessoal. Aqui você descobrirá o que eu faço, já fiz e ando
      fazendo enquanto na carreira de desenvolvedor de software.
    </p>
  </div>
  <div class="flex gap-4 justify-center">
    <a href="https://github.com/joevtap" target="_blank">
      <Button>
        <GitHubLogoIcon className="mr-2 h-4 w-4" />
        GitHub
      </Button>
    </a>
    <a href="/#about">
      <Button variant="secondary">Sobre mim</Button>
    </a>
  </div>
</section>

<style>
  section {
    @apply relative dark:border-none border-b-[1px] border-b-border;
    background: url(/bg.svg),
      radial-gradient(
        680px 480px at 50% 100%,
        rgba(255, 255, 255, 0.03) 0%,
        rgba(0, 0, 0, 0) 100%
      );

    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto;
  }

  section::after {
    @apply absolute bottom-0 left-0 right-0 h-[1px];
    content: "";
    background: radial-gradient(
      680px 480px at 50% 100%,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
</style>
