---
import { Button } from "@/components/ui/button";
import { ChevronDownIcon, ChevronUpIcon } from "@radix-ui/react-icons";

interface Props {
  direction: "up" | "down";
}

const { direction } = Astro.props;
---

<Button
  size="icon"
  className="scroll"
  data-direction={direction}
  variant="outline"
>
  {direction === "up" ? <ChevronUpIcon /> : <ChevronDownIcon />}
</Button>
