---
import { Button } from "@/components/ui/button";
import { HomeIcon } from "@radix-ui/react-icons";
---

<Button
  size="icon"
  className="scroll-home hidden"
  data-to="top"
  variant="outline"
>
  <HomeIcon />
</Button>
