@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-neutral-50 text-neutral-950 dark:bg-neutral-950 dark:text-amber-50;
    background-image: url(/noise.png);
    background-repeat: repeat;
    background-size: 250px 250px;
  }

  ::selection {
    @apply bg-neutral-950 text-neutral-200 dark:bg-neutral-200 dark:text-neutral-950;
  }
}
