---
import Layout from "../layouts/layout.astro";
---

<Layout title="@joevtap | dev & ux">
  <h1 class="text-4xl tracking-tight font-black font-display">Hello world</h1>
  <a href="/about">About</a>
</Layout>
