---
import GithubProfile from "../../sections/about/github-profile.astro";
import GithubInfo from "./github-info.astro";
---

<section
  id="about"
  class="flex items-start flex-col lg:flex-row md:justify-center py-12 px-4 md:py-24 md:px-16 lg:gap-16 gap-6 relative"
>
  <a href="https://github.com/joevtap" target="_blank" class="w-full lg:w-auto">
    <div
      class="flex lg:flex-col items-start justify-start gap-4 p-4 border-[1px] border-border rounded-xl w-full lg:w-auto"
    >
      <GithubProfile />
      <GithubInfo />
    </div>
  </a>
  <div class="flex flex-col items-start justify-start lg:max-w-[40%]">
    <h1 class="scroll-m-20 text-2xl font-semibold tracking-tight font-display">
      Sobre mim
    </h1>
    <blockquote class="mt-6 border-l-2 pl-6 italic">
      "If you feel frustrated, it means you can still grow."

      <cite class="block mt-2 text-sm font-medium text-muted-foreground"
        >- Ryuji Ayukawa em Blue Period, por Tsubasa Yamaguchi</cite
      >
    </blockquote>
    <p class="font-sans leading-7 [&:not(:first-child)]:mt-6">
      Tenho 21 anos e atualmente curso Sistemas de Informação na Universidade
      Federal de Itajubá (UNIFEI).
    </p>
    <p class="font-sans leading-7 [&:not(:first-child)]:mt-6">
      Sou um jovem sonhador, apreciador das coisas pequenas da vida e de um bom
      cochilo. Tenho o conhecimento como um objetivo permanente na minha vida,
      por isso sempre estou aprendendo algo novo.
    </p>
    <p class="font-sans leading-7 [&:not(:first-child)]:mt-6">
      No meu tempo livre você pode me encontrar ouvindo música, assistindo
      anime, ou aprendendo algum idioma (atualmente me dedico diariamante ao
      Japonês). Quero aprender a tocar um instrumento, penso em violão ou baixo.
    </p>
    <div class="flex gap-4 items-center justify-start mt-6">
      <a
        href="https://linkedin.com/in/joevtap"
        target="_blank"
        class="text-sm font-semibold hover:underline">Linkedin</a
      >
      <a
        href="https://x.com/joevtap"
        target="_blank"
        class="text-sm font-semibold hover:underline">X/twitter</a
      >
    </div>
  </div>
</section>

<style>
  section {
    @apply relative dark:border-none border-b-[1px] border-b-border;
  }

  section::after {
    @apply absolute bottom-0 left-0 right-0 h-[1px];
    content: "";
    background: radial-gradient(
      680px 480px at 50% 100%,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
</style>
