<div
  class="bg-background text-foreground flex items-start justify-center flex-col"
>
  <h1 class="text-xl font-semibold leading-tight">Jovi</h1>
  <h2 class="text-sm font-medium text-muted-foreground leading-normal">
    @joevtap
  </h2>
  <p class="text-md font-normal leading-relaxed mt-2">
    Developer and UX designer;
  </p>
</div>
